@import "_colors.scss";

%IconNtext {
  display: flex;
  gap: 5px;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    width: 90%;
    color: $primary;
    font-size: 45px;
    font-weight: 500;
  }
  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 90%;
    border: 0.5px rgba(0, 0, 0, 0.155) outset;
    border-right-width: 0;
    border-left-width: 0;
    gap: 20px;
    font-size: smaller;
    .filter-container-1 {
      @extend %IconNtext;
      gap: 2rem;
    }
    .filter-container-2 {
      @extend %IconNtext;
    }
    .date-container {
      @extend %IconNtext;
    }
    .advertising-info {
      @extend %IconNtext;
    }
  }
  .tools {
    display: flex;
    gap: 50px;
    font-size: smaller;
    padding: 5px 0px;
    width: 90%;
  }
  .links {
    width: 90%;
    .link {
      text-decoration: none;
      color: $primary;
      font-size: smaller;
    }
  }

  @media (max-width: 576px) {
    .tools {
      left: -342423px;
      position: absolute;
    }
    .filter {
      left: -342423px;
      position: absolute;
    }
  }
}
